@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
  list-style-type: none;
  font-family: 'Quicksand', sans-serif !important;
}

.jumbotron{
  margin-bottom: 0px !important;
  padding: 20px !important;
}

.home{
  margin-top: 50px;

}

.navbar{
  font-size: larger;
}

.nav.link{
  padding-left: 10px;
}

.title h1{
  padding: 10px;
  font-weight: bolder !important;
}



.wrapper
{
  margin-top: auto;
  margin-right: auto;
}


.heightinc{
  height: 350px;
}

.fix{
  height: 350px;
}

.dark{
  color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}



.Banner{
  margin-top: 30px;
  margin-bottom: 10px;
}


.Contents{
  align-content: center;
  text-align: center;
}

.Nav-bar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
}

.cards-sec{
  margin-bottom: 30px;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card-img, .card-img-top {
    padding: 40px;
    padding-bottom: 4px !important;
}
.text-center{
  text-align: center;
}

.width-100{
  width: 100%;
}
.App{
  margin-top: 70px;
  background-color: #f8f8f8;
}

.App-header{
  position: relative;
  width: 100%;
  text-align: center;
  height: 360px;

}
video{
  position: absolute;
  height:360px;
  width: 360px;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border-radius: 4%;
}




canvas{
  position: absolute;
  height: 360px;
  width: 360px;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.predictions{
	width : 100%;
  padding:10px;
  padding: 30px;

}

textarea{
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border: none;
  margin-bottom: 10px !important;
}

.cust-height{
  height:50vh;
}


.footer{
  background-color: black;
  font-size: larger;
  color: rgba(255, 255, 255, 0.644);
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;

}

.main-footer{
  padding: 20px;
}

li a{
  color: rgba(255, 255, 255, 0.665);
}

.main-footer ul{
  padding-left: 0;
}

.center {
  margin: auto;
  padding: 10px;
}

div[role='alert'] {
  color: red;
  margin-top: 1em;
}
.message-chars-left {
  width: 600px;
  margin: auto;
  text-align: left;
}

.contactdiv{
 padding: 20px;
 text-align: center;
 margin: auto;
}

.contact-form input{
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 400px;

}

#txtarea{
  width: 400px;
  height: 200px;
}