.heightinc {
    max-width: 100%;
    height: 100%;
  }
  
  .height-100 {
    height: 100vh; /* This makes sure the carousel takes up the full viewport height */
  }
  
  .fix {
    object-fit: cover; /* Ensures the image covers the full area without distorting */
  }
  
  .dark {
    background-color: rgba(0, 0, 0, 0.6); /* Adds a semi-transparent dark background */
    color: white; /* Makes the text readable on dark backgrounds */
  }
  